.blog-list-container {
  @apply relative w-full grid grid-cols-1 py-24 px-5 lg:px-10 overflow-hidden;
  .blog-list-header {
    @apply w-full flex flex-col md:flex-row justify-center md:justify-between items-center gap-5 mb-10;
    div {
      @apply flex gap-5;
      .create-blog-btn {
        @apply w-[100%] md:w-fit bg-blue-500 text-white px-5 py-2 rounded-[10px] hover:bg-blue-600;
      }
      .edit-tags-btn {
        @apply w-[100%] md:w-fit whitespace-nowrap bg-gray-500 text-white px-5 py-2 rounded-[10px] hover:bg-gray-600;
      }
    }
  }
  .create-blog-form {
    @apply w-full flex flex-col md:flex-row justify-center md:justify-between items-center my-4;
    .form-select {
      border: none !important;
    }
    input,
    .form-select {
      @apply focus:border-none w-full bg-light_dark md:w-[45%] rounded-md;
      .css-1jqq78o-placeholder {
        @apply text-white;
      }
      .css-13cymwt-control,
      .css-t3ipsp-control {
        @apply bg-light_dark;
      }
      .css-1nmdiq5-menu {
        background: rgba(0 0 0/0.6) !important;
        @apply text-white animate-hover-animate z-[1000000000];
      }
      .css-1nmdiq5-menu > div > div {
        @apply hover:bg-light_hard_dark bg-transparent cursor-pointer transition-all;
      }
      .css-1nmdiq5-menu > div > div:hover {
        @apply bg-light_medium_dark;
      }
    }
  }
  .blog-list-cards {
    @apply w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center items-center gap-12 mt-5;
  }
  .blog-card {
    background: rgba(0 0 0 /0.1);
    @apply w-[100%] md:w-[90%] h-[200px] rounded-[14px] shadow-lg cursor-pointer hover:shadow-2xl text-white hover:text-white hover:bg-blue-800 transition-BlogCard flex justify-center items-center gap-5 flex-col px-5;
  }
  .blog-card:hover .tag-badge {
    @apply bg-white text-blue-800;
  }
  .tags-container {
    @apply w-[90%] flex flex-row flex-wrap justify-center items-center gap-5 text-[.8rem];
  }
  .tag-badge {
    @apply w-fit px-4 py-2 rounded-[10px] flex justify-center items-center shadow-2xl;
  }
}
@keyframes hoverAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.css-t3ipsp-control:hover,
.css-t3ipsp-control {
  border-color: rgba(255 255 255 /0.5) !important;
  box-shadow: unset !important;
}
