.contact-us-section {
  @apply min-w-full h-fit md:h-[700px] flex flex-col md:flex-row justify-center items-center overflow-hidden;
  .bg-container {
    background-position: center;
    background-size: contain;
    @apply w-[50%] h-[80%] bg-no-repeat hidden md:block;
  }
  .contact-us-form {
    background: rgba(0 0 0 /0.1);
    @apply w-full md:w-[50%] h-[80%] flex items-center justify-center flex-col gap-10 rounded-lg p-10;
    h3 {
      @apply font-bold text-[2.5rem] text-white text-left w-full h-[10%];
    }
    form {
      @apply flex justify-center items-center flex-row flex-wrap w-full gap-2 h-[80%];
      input {
        background: rgba(0 0 0/0.3);
        box-shadow: 0 0 10px 1px rgba(0 0 0/0.3) inset;
        @apply w-[80%] rounded-md px-10 py-3 text-white outline-none;
      }
      textarea {
        background: rgba(0 0 0/0.3);
        box-shadow: 0 0 10px 1px rgba(0 0 0/0.3) inset;
        @apply w-[80%] rounded-md px-10 py-3 text-white outline-none max-h-[150px];
      }
      button {
        @apply w-[30%] mt-5;
      }
      .reset-btn {
        @apply bg-gray-600 shadow-gray-500;
      }
    }
    .links-container {
      @apply text-white font-rail font-bold w-full h-[10%] flex justify-start items-center gap-5;
      .social-link {
        filter: invert(86%) sepia(98%) saturate(3%) hue-rotate(332deg)
          brightness(105%) contrast(100%);
        transition-timing-function: cubic-bezier(0.4, 1.2, 0.5, 2) !important;
        transition-duration: 0.3s !important;
        animation-duration: 1s !important;
        @apply w-[40px] h-[40px] scale-100 hover:scale-150 transition-all  opacity-0;
      }
      .social-link:hover {
        filter: invert(34%) sepia(97%) saturate(2235%) hue-rotate(212deg)
          brightness(89%) contrast(109%);
      }
    }
  }
}
