.crypto-main-page {
  @apply w-full min-h-[600px] h-fit  py-24 px-5 lg:px-10 flex items-center justify-center flex-col gap-10;
  .crypto-landing-intro {
    background-size: 100% 100%;
    @apply w-full min-h-[500px] max-h-fit bg-center bg-no-repeat flex items-center justify-center gap-5 flex-col;
    .context {
      @apply w-full md:w-[60%] text-center flex flex-wrap items-center justify-center;
      .radial-text {
        @apply w-fit h-fit px-2 text-[1.5rem] md:text-[4rem] capitalize font-bold drop-shadow-2xl;
      }
    }
    p {
      @apply w-full  md:w-[40%] text-center capitalize font-rail font-semibold text-[1rem] md:text-[1rem];
    }
  }
  .crypto-second-intro {
    @apply min-h-[500px] w-full flex flex-wrap justify-center items-start gap-5;
    .context {
      @apply w-full flex items-start justify-start gap-5 flex-col md:w-[48%];
      h2 {
        @apply text-center md:text-start;
      }
    }
    img {
      @apply w-full object-contain md:w-[48%];
    }
    p {
      @apply font-rail w-full text-start capitalize text-[1rem] md:text-[1.2rem];
    }
  }
  .learn-crypto-section {
    @apply w-full min-h-fit drop-shadow-2xl flex flex-col justify-center items-start gap-5 p-2 md:p-5 rounded-lg border-[1px];
    .context {
      @apply w-full flex items-center justify-center md:justify-between flex-col md:flex-row gap-3;
      .q-a-section {
        @apply w-fit flex flex-col justify-center md:justify-start items-start gap-2 text-start capitalize font-rail;
        h3 {
          @apply text-[1.5rem] font-bold;
        }
        p {
          @apply text-[1rem] font-semibold;
        }
      }
    }
    .coins {
      @apply py-5 w-full overflow-hidden   gap-2 flex items-center justify-center flex-col min-h-[150px] max-h-fit;
      .row {
        @apply p-1 min-w-fit h-fit flex flex-row gap-2 items-center justify-center;
      }
      .single-coin {
        @apply cursor-default whitespace-nowrap bg-light_medium_dark  flex items-center justify-center min-w-fit min-h-fit text-[.9rem] capitalize gap-[5px] px-3 py-2 rounded-xl    border-[1px];
        img {
          @apply rounded-full w-[30px] h-[30px];
        }
        span {
          @apply text-[.8rem] uppercase;
        }
      }
    }
  }
  .crypto-blogs-section {
    @apply w-full min-h-[500px] flex flex-wrap items-start justify-center gap-5;
    .main-blog {
      @apply cursor-default w-full h-[300px] md:min-w-[50%] lg:min-w-[500px] lg:max-w-[500px]   rounded-lg drop-shadow-2xl overflow-hidden flex justify-center items-center relative;
      img {
        @apply z-10 relative w-full h-full object-cover;
      }
      .content-section {
        @apply z-20 absolute start-0 top-0 min-w-full min-h-full  p-3 flex flex-col items-end justify-end gap-3;
        h3 {
          @apply text-[1.5rem] capitalize font-bold text-start w-full font-rail;
        }
        .blog-extras {
          @apply w-full flex flex-wrap items-center justify-start gap-3;
          span {
            @apply font-bold w-fit h-fit px-2 py-1 rounded-lg text-[1rem] drop-shadow-2xl;
          }
        }
      }
    }
    .single-blog {
      @apply cursor-default w-full sm:min-w-[220px] sm:max-w-[220px] min-h-[300px] max-h-[300px] rounded-lg drop-shadow-2xl   flex flex-col justify-between items-center gap-2 overflow-hidden;
      img {
        @apply min-w-full min-h-[150px] max-h-[150px] object-cover rounded-t-lg drop-shadow-2xl;
      }
      h3 {
        @apply px-3 w-full text-start capitalize font-bold text-[.9rem] sm:text-[.8rem] line-clamp-2 sm:line-clamp-2;
      }
      p {
        @apply p-3 w-full text-[.9rem] sm:text-[.7rem] capitalize text-start font-semibold line-clamp-2 sm:line-clamp-2;
      }
      .blog-extras {
        @apply px-3  w-full max-h-fit flex flex-wrap items-center justify-start gap-3;
        span {
          @apply font-bold w-fit h-fit px-[6px] py-[3px] rounded-sm text-[.7rem] sm:text-[.6rem] drop-shadow-2xl;
        }
      }
    }
  }
  .page-header {
    @apply text-[1.5rem] md:text-[3rem] text-left;
  }
  .component-title {
    @apply w-full text-left text-[1.2rem] md:text-[2rem] font-bold text-blue-400 capitalize;
  }
  .top-crypto {
    @apply w-full min-h-[250px] py-2 flex flex-col items-center justify-between;
    .swiper-wrapper {
      @apply min-h-[300xp] h-fit p-0;

      .swiper-slide {
        @apply w-fit h-fit p-0;
      }
      .top-crypto-component {
        @apply bg-light_dark min-w-[300px] transition-all cursor-pointer max-w-[300px] w-[300px] min-h-[200px] max-h-[200px] h-[200px] rounded-lg drop-shadow-2xl p-5 py-10 flex justify-between items-start flex-col;

        .component-row {
          @apply flex flex-row justify-start items-center gap-2;
        }
        .blod {
          @apply font-bold capitalize;
        }
        .coin-img {
          @apply min-w-[45px] max-w-[45px] w-[45px] min-h-[45px] max-h-[45px] h-[45px]   rounded-full;
        }
        .blur-text {
          @apply uppercase;
        }
        .current-price {
          @apply flex flex-row justify-start font-extrabold text-[1.5rem] uppercase;
        }

        .percentage-container {
          @apply px-2 py-1  rounded-2xl;
        }
      }
    }
    .swiper-pagination-bullet {
      @apply w-[10px] h-[10px] rounded-[2px]   transition-all;
    }
    .swiper-pagination-bullet-active {
      @apply w-[20px];
    }
  }
  .search-crypto-container {
    @apply w-full flex justify-start items-center  flex-wrap gap-3;
    .input-search {
      @apply w-full sm:w-fit flex items-center justify-center relative;
      input {
        @apply min-w-full pe-[35px] px-2 sm:min-w-[300px] rounded-lg border-[1px];
      }
      svg {
        @apply w-[25px] h-[25px] z-10 bg-light_dark absolute end-2;
      }
    }
    hr {
      @apply min-w-[1px] min-h-[20px];
    }
    .input-btn {
      @apply capitalize w-fit h-fit flex items-center justify-center gap-2 text-[.9rem];
      .entry {
        @apply hover:scale-105 cursor-pointer hover:drop-shadow-2xl uppercase font-semibold w-fit h-fit px-3 py-2 flex items-center justify-center gap-1 rounded-lg border-[1px];
      }
      .text {
        @apply lowercase font-normal;
      }
      svg {
        @apply w-[10px] h-[10px];
      }
    }
  }
  .crypto-table-container {
    @apply max-w-full w-full h-fit min-h-[400px]  overflow-auto lg:overflow-hidden lg:overflow-x-auto flex items-start justify-start flex-col;
    table {
      @apply bg-light_medium_dark text-white w-fit min-w-full h-fit   flex justify-center items-center flex-col  overflow-hidden rounded-lg;
      thead {
        @apply w-full flex justify-start items-start;
        th {
          @apply w-full flex items-center gap-2;
          td {
            .th-arrow {
              @apply ms-1 w-[15px] h-[15px] min-w-[15px] min-h-[15px] max-w-[15px] max-h-[15px] transition-all;
            }
          }
        }
      }
      tbody {
        @apply min-w-full flex-col flex items-start justify-between;
        tr {
          border-width: 0.01px !important;
          @apply flex items-center
            gap-2 overflow-hidden hover:rounded-sm  border-transparent  transition-all cursor-pointer min-w-full min-h-[60px];
        }
        .chart-td {
          @apply overflow-hidden;
        }
      }
      td {
        transition-duration: 1s;
        @apply py-2 px-3 h-[60px] max-h-[60px] text-[.9rem] flex items-center transition-all;
      }
      .rank-td {
        @apply min-w-[80px] w-[80px] max-w-[100px] text-right flex items-center justify-end gap-3;
        img {
          @apply w-[30px] h-[30px] p-2 rounded-md;
        }
      }
      .coin-td {
        @apply min-w-[220px] w-[220px] line-clamp-1  whitespace-nowrap max-w-[250px] text-left flex gap-2 items-center capitalize;
        img {
          @apply rounded-full max-w-[30px] max-h-[30px] min-w-[30px] min-h-[30px] w-[30px] h-[30px];
        }
        span {
          @apply text-[.8rem] text-gray-400 uppercase;
        }
      }
      .price-td {
        @apply min-w-[100px] w-[100px] flex items-center justify-end max-w-[100px]  text-end;
      }
      .low-td {
        @apply min-w-[120px] w-[120px] max-w-[120px] text-end flex items-center justify-end;
      }
      .high-td {
        @apply min-w-[120px] w-[120px] max-w-[120px] text-right flex items-center justify-end;
      }
      .percentage-td {
        @apply min-w-[100px] w-[100px] max-w-[100px] flex items-center justify-end;
        img {
          @apply w-[10px] h-[10px];
        }
      }
      .volume-td {
        @apply min-w-[150px] w-[150px] max-w-[150px] flex items-center justify-end;
      }
      .market-cap-td {
        @apply min-w-[165px] w-[165px] max-w-[165px] flex items-center justify-end;
      }
      .chart-td {
        @apply relative p-2 overflow-hidden min-w-[150px] w-[150px] max-w-[150px] flex items-center justify-center;
        .small-chart {
          @apply absolute flex items-center justify-end min-h-fit  w-full;
        }
      }
      .td-actions {
        @apply min-w-[120px]  max-w-fit flex items-center justify-end gap-2;
        button {
          @apply min-w-[40px] min-h-[40px] border-[1px] rounded-full p-[1px] flex items-center justify-center hover:scale-110 active:scale-90;
        }
      }
      .selected-td {
        @apply bg-light_dark;
      }
    }
    &::-webkit-scrollbar {
      display: block !important;
    }
  }
  .pagination-container {
    @apply w-full   h-fit;
    .crypto-pagination {
      @apply flex flex-row flex-wrap justify-center items-center gap-5 py-3;
      li,
      .selected {
        @apply bg-light_dark min-w-[50px] max-w-[50px] w-[50px] min-h-[50px] p-0 overflow-hidden flex items-center justify-center  rounded-md text-white hover:bg-light_medium_dark hover:scale-110 transition-all;
        a {
          @apply p-3;
        }
      }
      .crypto-pagination-nav {
        @apply min-w-fit min-h-fit p-0;
        a {
          @apply w-full h-full p-3;
        }
      }
      .crypto-pagination-breaks {
        @apply w-[50px] h-[50px] p-0;
        a {
          @apply w-full h-full p-3;
        }
      }
    }
    .activeClassName {
      @apply w-full h-full bg-light_medium_dark;
    }
  }
  .green {
    @apply bg-green-700;
  }
  .red {
    @apply bg-red-700;
  }
  .green-text {
    color: #00f5ff;
  }
  .red-text {
    color: #fe0000;
  }
  .header-component {
    @apply text-[1.2rem] sm:text-[1.5rem] md:text-[2rem] capitalize text-start font-bold   w-full flex flex-col md:flex-row gap-5 justify-between items-center relative;
    h2 {
      @apply flex flex-col items-center text-center justify-center md:justify-start md:items-start gap-3;
    }
    button {
      @apply w-fit h-fit px-3 py-2 text-[1rem];
    }
  }
}
