.dashboard {
  @apply text-white relative w-full flex items-start justify-start flex-col gap-10 py-24 px-5 lg:px-10 min-h-[1000px];

  .dashboard-content {
    @apply w-full min-h-[500px] flex justify-start items-start;
    .dashboard-section {
      @apply flex flex-wrap items-start justify-center md:justify-start gap-5 w-full   min-h-[500px];
    }
    .sm-box {
      @apply w-[48%] h-[150px] rounded-lg drop-shadow-2xl;
    }
    .md-box {
      @apply w-[600px] h-[300px] rounded-lg drop-shadow-2xl bg-light_dark;
    }
    .lg-box {
      @apply w-full h-[400px] rounded-lg drop-shadow-2xl bg-light_dark;
    }
    .apexcharts-menu {
      @apply bg-light_dark;
    }
  }
  .dashboard-home-section {
    @apply w-full flex flex-wrap gap-5 justify-between items-start;
    .header {
      @apply font-bold w-full text-start text-[1.5rem] capitalize;
    }
    .deal-container {
      @apply sm:order-1 lg:order-4 w-full sm:w-[48%] lg:w-[24%] flex flex-col gap-2 justify-start items-start p-2 rounded-lg bg-blue-950  drop-shadow-2xl;
      .data-table {
        @apply w-full flex flex-col gap-2 justify-start items-start;
      }
      .single-deal {
        @apply hover:bg-light_medium_dark cursor-default transition-all text-[.8rem] text-white w-full h-[50px] rounded-lg bg-light_dark flex justify-between items-center gap-2 px-2;
        .main-sec {
          @apply w-fit flex justify-start items-center gap-2;
          img {
            @apply w-[35px] text-inherit h-[35px] rounded-full;
          }
          .deal-info {
            @apply text-start w-fit justify-start items-center flex flex-col gap-1;
            .name {
              @apply w-full;
            }
            .email {
              @apply text-[.7rem];
            }
          }
        }
      }
    }
    .total-visited-container {
      @apply sm:order-5 lg:order-3 w-full lg:w-[23%]  h-fit p-2 bg-blue-950 rounded-lg drop-shadow-2xl;
    }
    .overall-container {
      @apply sm:order-3 lg:order-2 lg:w-[48%] w-full   h-fit rounded-lg flex flex-wrap justify-start items-start gap-5 p-2 bg-blue-950 drop-shadow-2xl;
      .sm-box {
        @apply w-full sm:w-[48%]  md:w-[48%] lg:w-[47%] xl:w-[48%] flex items-center drop-shadow-2xl justify-between gap-2 p-2;
        .left-section {
          @apply w-1/3 h-full flex flex-col gap-1 items-start justify-between;
          .data-title {
            @apply w-full flex text-[.9rem] font-bold whitespace-nowrap capitalize items-center justify-start gap-2;
            img {
              @apply w-[20px] h-[20px];
            }
          }
          .bold {
            @apply w-fit font-bold text-[1.2rem];
          }
          button {
            @apply w-fit h-fit px-2 py-1 text-[.8rem] capitalize font-semibold  shadow-none;
          }
        }
        .right-section {
          @apply w-fit h-full flex flex-col justify-between items-end gap-2;
          .percentage {
            @apply w-fit text-[.8rem] capitalize h-fit rounded-xl px-2 py-1 flex items-center justify-evenly gap-1;
            .light {
              @apply text-[.7rem];
            }
          }
          .green {
            @apply bg-green-800;
          }
          .red {
            @apply bg-red-800;
          }
        }
      }
    }
    .candle-stcik-chart-container {
      @apply sm:order-4 lg:order-2 lg:w-[48%] w-full h-fit pb-[13px]   rounded-lg bg-blue-950 drop-shadow-2xl p-2 overflow-hidden;
    }
    .transactions-container {
      @apply sm:order-2 lg:order-5 lg:w-[24%] w-full sm:w-[48%] min-h-[200px] flex flex-col gap-3 p-2 justify-start items-start bg-blue-950 drop-shadow-2xl rounded-lg;

      .data-table {
        @apply w-full flex gap-2 flex-col justify-center items-start;
      }
      .single-transaction {
        @apply w-full hover:bg-light_medium_dark cursor-default flex gap-2 items-center justify-between py-2 px-3 rounded-lg min-h-[55px] max-h-[55px] bg-light_dark;
        .left-section {
          @apply w-1/3 whitespace-nowrap h-full flex flex-col   items-start capitalize justify-evenly;
          .sender {
            @apply text-[.7rem] font-bold text-green-500;
          }
          .reciever {
            @apply text-[.7rem] text-gray-300;
          }
        }
        .transaction-date {
          @apply text-gray-300 whitespace-nowrap text-[.7rem] capitalize;
        }
        .transaction-value {
          @apply w-fit h-fit whitespace-nowrap bg-green-800 px-2 py-1 rounded-lg text-[.9rem];
        }
      }
    }
    .donaut-chart-container {
      @apply sm:order-6 lg:order-6 lg:w-[23%] w-full h-fit p-2 flex flex-col pb-10  gap-20 rounded-lg drop-shadow-2xl bg-blue-950;
      .data-container {
        @apply w-full h-[200px] flex items-center justify-center;
      }
    }
  }
  .Dashboard-Theme-Section {
    @apply w-full flex justify-between flex-wrap items-start gap-5;
    .theme-right-side-container {
      @apply w-full md:min-w-[40%] md:max-w-[40%] h-fit flex justify-center items-center;
    }
    .theme-left-side-container {
      @apply w-full md:min-w-[55%] md:max-w-[55%]   flex justify-center md:justify-start items-start gap-5 flex-wrap;
    }
    .themes-container {
      @apply min-w-[40%] h-fit flex flex-col items-start justify-start gap-3;
      .data-container {
        @apply ps-10 w-full h-fit flex flex-wrap justify-start items-center gap-3;
        .item {
        }
        .color-item {
          @apply cursor-pointer w-[40px] h-[40px] p-2 rounded-full drop-shadow-2xl hover:scale-110;
          img {
            @apply w-full h-full;
          }
        }
      }
    }
    .toast-theme-container {
      @apply w-fit flex flex-col items-center justify-between gap-3;
      .header {
        @apply w-full text-start text-[.9rem] md:text-[1.1rem]  flex items-center justify-start gap-3 capitalize font-semibold;
      }
      .item {
        @apply text-[.8rem] md:text-[.9rem] capitalize max-w-[400px] w-full min-h-[40px] p-1 flex items-start justify-between;
        .title {
          @apply h-full flex justify-center items-center w-fit;
        }
        .options-container {
          @apply w-fit max-w-[55%] flex items-start justify-start gap-2 flex-wrap;
          .option {
            @apply whitespace-nowrap;
          }
        }
      }
    }
    .theme-header {
      @apply w-fit h-fit text-[.9rem] md:text-[1.1rem]  capitalize font-semibold     flex justify-center md:justify-start items-center gap-3;
      .theme-actions-container {
        @apply w-fit max-h-fit h-fit px-1 flex justify-start gap-x-1 items-center  drop-shadow-2xl   rounded-lg;
        button {
          all: unset;
          @apply cursor-pointer rounded-lg w-fit h-fit p-3 flex items-center justify-center;
          img {
            @apply min-w-[20px] max-w-[20px] max-h-[20px] min-h-[20px];
          }
        }
        .selected-color {
          @apply rounded-lg w-fit h-fit p-3 flex items-center justify-center;
          div {
            @apply border-[.1px] border-white drop-shadow-2xl min-w-[20px] p-3 min-h-[20px] rounded-full;
          }
        }
      }
    }
    .preview-container {
      @apply relative backdrop-blur-sm w-full sm:w-[60%]  md:w-[500px] md:h-[500px] rounded-lg p-3 md:p-5 flex flex-col items-start drop-shadow-2xl justify-between gap-3;
      .img {
        @apply min-w-full min-h-[150px] md:min-h-[250px] rounded-lg   flex items-center justify-center text-[1.2rem] md:text-[2rem] capitalize text-white;
      }
      h1 {
        @apply w-full text-start text-[1rem] md:text-[1.5rem] capitalize font-bold;
      }
      p {
        @apply w-full text-left line-clamp-3  text-[.6rem] md:text-[.8rem] capitalize font-semibold;
      }
      button {
        @apply w-full shadow-none;
      }
      .preview-modal-container {
        @apply min-w-full min-h-full absolute top-0 start-0 flex items-center justify-center;
        .preview-modal-overlay {
          @apply absolute min-h-full min-w-full z-10 bg-light_medium_dark;
        }
        .preview-modal-content {
          @apply border-[1px] capitalize absolute z-20 min-w-[40%] min-h-[40%] rounded-lg drop-shadow-2xl flex items-center justify-center cursor-pointer;
        }
      }
    }
  }
  .dashboard-profile-section {
    @apply font-rail  flex items-center justify-center gap-10 flex-col;
    .profile-card-preview-section {
      @apply w-full flex items-start flex-col md:flex-row justify-center md:justify-between gap-5;
    }
    .edit-profile-section {
      @apply min-h-[500px] max-w-[45%]  min-w-[45%] flex flex-wrap items-start justify-start gap-5;
      .input-group {
        @apply w-fit min-h-[40px] capitalize flex flex-col sm:flex-row justify-start items-start   gap-5;
        .header-component {
          @apply w-fit;
          h2 {
            @apply whitespace-nowrap w-fit   items-center flex-row-reverse text-[1.2rem];
          }
        }
        input {
          @apply capitalize min-w-full sm:min-w-[300px] w-fit px-3 rounded-lg border-[1px];
        }
        .textarea {
          @apply min-h-[100px] min-w-full sm:min-w-[300px] w-fit border-[1px] max-h-fit p-2 capitalize text-start;
        }
      }
      .react-date-picker {
        border-radius: 10px !important;
        .react-date-picker__wrapper {
          border: 1px solid rgba(255 255 255 /0.3) !important;
          border-radius: 5px !important;
          padding: 5px !important;
        }
        .react-date-picker__inputGroup__input {
          all: unset !important;
          max-width: fit-content !important;
          width: fit-content !important;
          font-family: "rail";
        }
        .tile-class {
          color: #fff !important;
          background: rgba(0 0 0 /0.5);
          &:hover {
            color: rgba(0 0 0 /1) !important;
            background: #fff !important;
          }
        }
        .react-date-picker__button {
          svg {
            stroke: #fff !important;
          }
        }
        .react-calendar__tile--active {
          color: rgba(0 0 0 /1) !important;
          background: #fff !important;
        }
      }
      .calendar-container {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.01);
      }
    }
    .profile-card-preview {
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 35px 35px 68px 0px rgba(0, 0, 0, 0.5),
        inset -12px -12px 16px 0px rgba(0, 0, 0, 0.6),
        inset 0px 11px 28px 0px rgb(255, 255, 255);
      @apply cursor-default w-full sm:w-[400px] md:w-[450px] rounded-lg  p-5 flex items-center justify-center flex-wrap gap-2;
      h2 {
        @apply text-[1rem];
      }
      .image-section {
        @apply min-w-[150px] max-w-fit min-h-[150px] max-h-fit rounded-full flex items-center justify-center relative overflow-hidden drop-shadow-2xl border-[3px];
        img {
          @apply min-w-full min-h-full absolute object-contain top-0 start-0;
        }
        .badge {
          @apply w-[25px] h-[30px] absolute -bottom-[15px] -end-[15px];
        }
      }
      .context-data {
        @apply p-5 rounded-lg drop-shadow-2xl w-full flex flex-wrap items-start justify-between gap-2 text-start;
        .context {
          @apply h-fit text-[.7rem] w-full md:w-[45%] md:max-w-[45%] capitalize flex flex-col items-start justify-start gap-1 border-b-[1px] pb-1;
          .title {
            @apply opacity-60;
          }
          .value {
            @apply whitespace-pre-wrap;
          }
        }
      }
      .bio {
        @apply w-full flex flex-col items-start justify-start gap-2 rounded-lg p-2;
        p {
          @apply p-5 rounded-lg drop-shadow-2xl w-full text-start capitalize;
        }
      }
      .extras {
        @apply w-full flex flex-wrap items-start justify-start gap-2 p-1;
        .extra {
          @apply drop-shadow-2xl cursor-default w-full h-fit md:w-[110px]  md:h-[110px]  rounded-lg p-2 flex flex-col-reverse items-center justify-center gap-1 capitalize font-bold;
          .value {
            @apply font-bold text-[1.1rem];
          }
          .title {
            @apply text-[.9rem] font-semibold;
          }
        }
      }
      .contact {
        @apply w-full flex flex-wrap items-center justify-center gap-2 p-2;
        .contact-link {
          @apply hover:scale-110 cursor-pointer max-w-[50px] max-h-[50px] rounded-full overflow-hidden;
          img {
            @apply min-w-full min-h-full object-contain;
          }
        }
      }
    }
    .avatar-section {
      @apply w-full flex flex-col items-start justify-start gap-3;
      .avatars {
        @apply min-w-[230px] w-full flex flex-wrap justify-start items-start gap-5;
        .avatar {
          background-size: contain;
          @apply hover:scale-110 cursor-pointer min-w-[100px] min-h-[100px] rounded-full bg-center bg-no-repeat content-center;
        }
      }
    }
    .work-editor {
      @apply w-fit   flex flex-col items-start justify-start gap-5;
      .works {
        @apply min-w-full flex flex-wrap justify-start items-start gap-5;
        .work {
          @apply relative border-[1px] min-h-fit cursor-pointer hover:scale-110 drop-shadow-2xl w-full  md:w-[110px]  rounded-lg p-2 flex flex-col items-center justify-center gap-1 capitalize font-bold;
          .value {
            @apply font-bold text-[1.1rem];
          }
          .title {
            @apply text-[.9rem] font-semibold;
          }
          .delete-btn {
            @apply z-10 absolute top-0 end-0 w-fit bg-red-500 h-fit p-1 rounded-lg;
            img {
              @apply w-[20px] h-[20px];
            }
          }
          input {
            @apply p-1 w-full capitalize   border-b-[1px];
          }
          button {
            @apply w-full flex items-center justify-center;
          }
        }
      }
    }
    .socials-editor {
      @apply min-w-fit flex flex-col items-start justify-start gap-3;
      .socials {
        @apply w-full flex flex-wrap items-start justify-start gap-5;
        .social {
          @apply min-w-[120px] max-w-fit rounded-lg border-[1px] p-3 flex items-center gap-2 justify-between;
          img {
            @apply max-w-[40px] max-h-[40px] p-1   rounded-full object-fill;
          }
          span {
            @apply text-[1rem] capitalize font-bold font-rail whitespace-nowrap p-2 rounded-lg border-[1px];
          }
        }
        .add-social {
          @apply min-w-[60px] max-w-fit min-h-[60px] rounded-lg p-3 border-[1px] flex flex-wrap items-center justify-center capitalize font-bold cursor-pointer gap-3;
          .social-icon {
            @apply w-[30px] h-[30px] rounded-full bg-center bg-no-repeat bg-contain;
          }
        }
        input {
          @apply w-[60%] max-w-fit border-[1px] h-[40px] p-2 capitalize;
        }
        button {
          @apply hover:scale-110 cursor-pointer disabled:scale-100 disabled:cursor-default w-fit h-fit p-2 rounded-lg drop-shadow-2xl;
          img {
            @apply w-[25px] h-[25px];
          }
        }
      }
      .delete-btn {
        @apply bg-red-500;
      }
    }
  }
  .dashboard-budget-container {
    @apply min-w-full min-h-[500px] flex flex-wrap items-start justify-between gap-5 [&>div]:border-[1px] [&>div]:rounded-lg [&>div]:p-3 [&>div]:drop-shadow-2xl [&>div]:overflow-hidden [&>div]:flex [&>div]:items-center [&>div]:justify-between [&>div]:gap-2 [&>div]:min-w-full;
    .header-component {
      @apply min-w-full border-0 drop-shadow-none bg-transparent p-0 overflow-visible;
    }
    .mid-container {
      @apply min-w-full xl:min-w-[45%] lg:max-w-[45%]  min-h-fit lg:min-h-[320px] lg:max-h-[320px];
    }
    .big-container {
      @apply relative min-w-full lg:min-w-[53%] lg:max-w-[53%] flex items-center justify-between min-h-fit lg:min-h-[320px] lg:max-h-[320px];
    }
    .overall-container {
      @apply order-1 flex items-center justify-between flex-wrap;
      .status {
        @apply min-w-full md:min-w-[45%] md:max-w-[45%] flex items-center justify-between flex-col gap-2;
        .progress-bar {
          @apply relative min-w-[90%] md:min-w-[200px] md:max-w-[200px] flex items-center justify-center overflow-hidden;
          .title {
            @apply absolute flex flex-col gap-1 font-bold capitalize font-sans;
          }
        }
        .context {
          @apply px-3 min-w-full flex flex-col justify-between items-center text-[.9rem] gap-2;
          .context-child {
            @apply capitalize font-bold min-w-full   flex items-center justify-between gap-1;
            .title {
              @apply whitespace-nowrap;
            }
          }
        }
      }
    }
    .add-budget-container {
      @apply order-3 lg:order-2  relative z-20 overflow-visible flex flex-wrap items-start justify-between gap-2;
      section {
        @apply min-w-full h-fit md:min-w-[45%] lg:min-w-[30%] md:max-w-[45%] lg:max-w-[30%] p-2 flex flex-col items-start justify-between gap-3;
        .bank-items-container {
          @apply min-w-full flex flex-wrap items-start justify-start gap-2;
          .bank-item {
            @apply p-1 border-[1px] rounded-[4px];
            & > img {
              @apply max-w-[50px] min-w-[50px];
            }
          }
        }
        .save-data {
          @apply whitespace-nowrap min-w-full flex items-center justify-between gap-1;
        }
        .submit-btn,
        .reset-btn {
          @apply whitespace-nowrap min-w-full max-w-full text-center;
        }
        .submit-btn {
          @apply bg-green-800;
        }
        .reset-btn {
          @apply bg-red-800;
        }
      }
    }
    .chart-container {
      @apply order-4 lg:order-3 relative flex items-center justify-center;
      .chart {
        @apply min-w-full max-w-full min-h-full md:min-h-[290px] md:max-h-[290px];
      }
    }
    .transactions-container {
      @apply order-2 lg:order-4  flex justify-start items-start flex-col  gap-2 overflow-x-hidden overflow-y-auto;
      .transaction-item {
        @apply min-w-full max-w-full max-h-fit flex  flex-wrap items-center justify-between gap-2 border-b-[1px] py-1;
        .context {
          @apply order-3 md:order-1 w-fit md:max-w-[60%] flex items-center justify-start gap-2;
          img {
            @apply hidden md:block;
          }
        }
        img {
          @apply min-w-[40px] max-w-[40px];
        }
        .t-date {
          @apply min-w-full text-start md:min-w-[10%] md:w-fit   flex flex-col items-start justify-between gap-1 capitalize text-[.9rem];
          .date {
            @apply text-[.8rem] whitespace-nowrap flex gap-1 items-center justify-start;
          }
          .bold {
            @apply text-[.7rem] sm:text-[.8rem] font-bold;
          }
        }
        .amount {
          @apply min-w-[50%] md:min-w-fit order-2 font-bold text-[1.1rem] max-w-[30%];
        }
        .status {
          @apply order-2 py-2 px-3 rounded-lg w-fit text-[.7rem] font-semibold capitalize   border-[1px];
        }
        .small-pic {
          @apply flex order-1  md:hidden;
        }
      }
    }
    .accounts-container {
      @apply min-w-full lg:min-w-[30%] lg:max-w-[30%] order-5 overflow-y-auto overflow-x-hidden flex flex-col items-start justify-between gap-2;
      .accounts-slider {
        @apply min-w-[220px] md:min-w-[320px] max-w-[220px] md:max-w-[320px] pb-10;
        .swiper-slide {
          @apply max-w-fit max-h-fit bg-transparent;
        }
      }
      .account {
        @apply z-10 relative overflow-hidden min-w-[220px] md:min-w-[320px] max-w-[220px] md:max-w-[320px] min-h-[130px] md:min-h-[180px] max-h-[130px] md:max-h-[180px] rounded-lg drop-shadow-2xl p-3 flex items-center justify-center;
        &::before {
          @apply z-0 absolute content-[""] min-w-[200px] min-h-[200px] rounded-full drop-shadow-2xl bg-light_dark start-[-100px] bottom-[-100px];
        }
        &::after {
          @apply z-0 absolute content-[""] min-w-[200px] min-h-[200px] rounded-full drop-shadow-2xl bg-light_dark end-[-100px] top-[-100px];
        }
        .icon {
          @apply absolute z-10 end-4 top-3 min-w-[55px] max-w-[55px] object-contain;
        }
        .context {
          @apply absolute z-10 text-[.9rem] top-3 start-4 w-fit flex flex-col items-start justify-start gap-1 capitalize;
          .bold {
            @apply text-[1rem] sm:text-[2rem] font-bold;
          }
        }
        .acc-number {
          @apply absolute z-10 bottom-3 start-4 flex items-center gap-1 sm:gap-2 font-mono text-[.9rem] sm:text-[1rem] font-semibold;
        }
        .ex-date {
          @apply absolute end-4 bottom-3 text-[1rem] font-semibold;
        }
      }
      .actions-container {
        @apply min-w-full flex flex-wrap items-center justify-center gap-2;
        button {
          @apply min-w-full md:max-w-[45%] md:min-w-[45%] capitalize;
        }
        .delete-acc-btn {
          @apply bg-red-800;
        }
        .update-acc-btn {
          @apply bg-yellow-800;
        }
      }
    }
    .section-header {
      @apply min-w-full text-start font-semibold text-[1rem] capitalize;
    }
  }
}
