.HomePage-container {
  @apply w-full h-fit flex justify-center items-center flex-col gap-10 py-24 px-5 lg:px-10;
  .HomePage-intro-section {
    @apply flex flex-col lg:flex-row justify-center lg:justify-between items-center w-full lg:h-[450px] p-0 cursor-default;
    .home-page-intro-section {
      @apply w-full text-center lg:w-[50%] h-[500px] md:h-[300px] lg:h-[100%] flex justify-between items-center flex-col pt-10 pb-10 lg:pb-20 px-0 lg:px-10;
      h1 {
        @apply font-extrabold italic w-full lg:w-[80%] text-white text-center font-rail transition-all;
        span {
          @apply text-blue-400;
        }
      }
      .txt-rotate {
        @apply font-rail   text-[1.5rem] w-[100%] lg:w-[50%] text-white -tracking-normal;
        .word-animation {
          transition-property: color, background, transform, font-weight;
          transition-duration: 2s;
          transition-timing-function: linear;

          @apply font-bold;
        }
      }
    }
    .home-page-intro-slider {
      @apply w-[350px] h-[350px] md:w-[450px] md:h-[450px] text-white text-[1rem] md:text-[1.4rem] font-bold lg:mr-32 overflow-hidden shadow-blue-900 shadow-2xl rounded-[10px];
      .mySwiper {
        @apply w-full h-full capitalize;
        .swiper-slide {
          @apply shadow-lg flex items-center justify-center flex-col gap-10 transition-all;
          h3 {
            @apply w-[70%];
          }
        }
      }
    }
    .selected-word {
      @apply text-blue-400 scale-110;
    }
  }
  .crypto-table-container {
    @apply w-[100%] h-fit flex flex-col justify-center items-center;
    .crypto-table-header {
      @apply w-full flex items-center justify-center flex-col md:flex-row md:justify-between gap-5 my-10 md:my-5;
    }
    table {
      background: rgba(255 255 255 /0.1);
      backdrop-filter: blur(10px);
      @apply rounded-[10px] w-full h-fit overflow-hidden font-number flex flex-col justify-center items-center;
      thead {
        background: rgba(255 255 255/0.3);
        @apply w-full text-blue-950;
      }
      tbody {
        @apply w-full;
        tr {
          background: rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          border: 1px solid rgba(255, 255, 255, 0.18);
          @apply w-full animate-wordAnimation opacity-0;
        }
      }
      tr {
        @apply w-[100%] grid grid-cols-12 justify-evenly items-center;
        th,
        td {
          @apply py-2 flex justify-start items-center px-5;
        }
        td {
          @apply text-white text-[.8rem] font-[400]  sm:text-[.9rem] md:text-[1rem];
        }

        .td-rate,
        .th-rate {
          @apply hidden sm:flex col-span-2 md:col-span-1;
        }
        .td-icon,
        .th-icon {
          @apply col-span-3 sm:col-span-2  md:col-span-1;
        }
        .td-name,
        .th-name {
          @apply col-span-3 sm:col-span-2  md:col-span-3 text-left;
        }
        .td-price,
        .th-price {
          @apply col-span-3 md:col-span-2 lg:col-span-2   justify-start md:justify-end;
        }
        .td-high,
        .th-high-24h {
          @apply col-span-1 hidden lg:flex justify-end;
        }
        .td-low,
        .th-low-24h {
          @apply col-span-1 hidden lg:flex;
        }
        .td-percent,
        .th-24h {
          @apply col-span-3 md:col-span-2 lg:col-span-1;
        }
        .td-cap,
        .th-Market-Cap {
          @apply hidden md:flex md:col-span-3 lg:col-span-2;
        }

        .coin-icon {
          @apply w-full h-full lg:w-[50px] lg:h-[50px];
        }
        .increased-rate {
          @apply text-green-500;
        }
        .decreased-rate {
          color: #ff0000;
        }
      }
    }
  }
  .nft-list-slider {
    @apply w-full;
    .nft-slider-container {
      @apply w-[100%] flex flex-col justify-center items-center gap-10;
      .nft-slider-header {
        @apply w-full h-fit flex flex-col md:flex-row justify-center md:justify-between items-center;
      }
      .nft-slider {
        @apply w-full;
        .mySwiper {
          @apply w-full h-[350px];
          .swiper-slide {
            @apply w-fit h-fit;
          }
        }
      }
    }
  }
  button {
    @apply text-white capitalize w-fit h-fit px-5 py-2 cursor-pointer rounded-[10px] bg-blue-600 shadow-blue-500 border-none shadow-lg hover:shadow-none scale-100 transition-BlogCard active:scale-95;
  }
  .swiper-pagination-bullet {
    @apply w-[10px] h-[10px] rounded-[2px] bg-blue-400 transition-all;
  }
  .swiper-pagination-bullet-active {
    @apply w-[20px] bg-blue-400;
  }
}
@media only screen and (max-width: 600px) {
  *::-webkit-scrollbar {
    @apply hidden;
  }
}
