.modal-container {
  @apply fixed min-w-[100vw] min-h-[100vh]  bg-transparent top-0 left-0 flex items-center justify-center z-[10000000002034723857098572];
}
.modal-overlay {
  background: rgba(0 0 0 /0.4);
  @apply w-[100%] h-[100%] absolute top-0 left-0;
}
.modal-content {
  @apply w-[50%] h-[500px] bg-blue-950  relative bottom-20 shadow-2xl z-[9] rounded-[14px] flex flex-col items-center justify-center px-12 py-5;
}
.modal-header {
  @apply w-full h-fit p-4 flex justify-between items-center;
  h4 {
    @apply text-lg font-bold text-blue-600;
  }
  button {
    @apply w-[50px] h-[50px] p-2 text-gray-500 focus:scale-110 hover:scale-110 transition-transform;
  }
}
.form-tags {
  @apply w-full h-[75%]   items-center justify-start overflow-y-scroll overflow-x-hidden  gap-2 py-5 rounded-[10px];

  .form-group {
    @apply w-full h-fit flex justify-between items-center px-2;
    .delete-tag-btn {
      background: rgba(255 255 255/0.1);
      @apply w-[40px] h-[40px] border-[1px] m-0 shadow-none border-red-500 text-red-500 text-lg hover:scale-105 transition-transform rounded-[50%] p-2 flex justify-center items-center;
    }
    .tag-label-input {
      @apply w-[90%] h-[100%] bg-gray-200 border-[1px] border-blue-300 outline-none rounded-[4px] px-2   transition-colors;
    }
  }
}
.form-tags::-webkit-scrollbar {
  display: none !important;
}
.filter-options-container {
  @apply w-full flex flex-col gap-2 justify-center items-center;
  div {
    background: rgba(0 0 0/0.2);
    @apply text-white w-full h-fit px-4 py-2  rounded-md flex-row-reverse flex justify-start items-center gap-5;
    img {
      @apply w-[30px] h-[30px];
    }
    span {
      box-shadow: 0 0 10px rgba(0 0 0/0.6) inset;
      @apply w-[20px] h-[20px] rounded-full bg-transparent
        shadow-blue-50 relative;
      span {
        border-width: 5px;
        @apply w-[20px] h-[20px] absolute top-0 left-0 border-blue-700;
      }
    }
  }
}
.modal-component {
  @apply fixed w-full h-full top-0 start-0 z-50 flex items-center justify-center;
  .overlay {
    @apply min-w-full min-h-full bg-light_medium_dark absolute z-10;
  }
  .content {
    @apply absolute z-30 w-[90%] max-h-[80vh] min-h-[50vh] overflow-auto top-10 end-[2.5%] sm:w-[70%] sm:end-[15%] rounded-lg drop-shadow-2xl border-[1px]   p-2 sm:p-5 flex flex-col items-start justify-between gap-5;
  }
  .actions-container {
    @apply relative z-10 w-full flex   flex-wrap justify-start items-center gap-3;
  }
  .container {
    @apply text-[.8rem] sm:text-[1rem] p-2 border-[1px] rounded-lg w-full flex flex-col items-start justify-start gap-2;
    .title {
      @apply flex flex-wrap items-center gap-2 w-full text-start capitalize font-semibold;
      .extra {
        @apply line-clamp-1 w-full whitespace-pre-wrap sm:w-fit flex items-center justify-start gap-2 sm:text-[.9rem] capitalize;
      }
    }
    .actions-container {
      @apply w-full flex items-center justify-start gap-2;
      button {
        @apply border-[1px] rounded-lg hover:scale-110;
      }
    }
  }
}
.create-wallet-modal {
  @apply min-w-full    max-h-fit min-h-fit flex items-start relative justify-start;
  .wallet-content {
    @apply flex gap-10 justify-between max-w-full min-w-full   min-h-fit  flex-wrap items-start;
    .coin-chart-preview {
      @apply py-1 min-w-full md:min-w-[45%] md:max-w-[45%] max-h-[300px] min-h-[300px];
    }
    .coin-data-overview {
      @apply min-w-full flex flex-wrap items-start justify-between gap-5 md:min-w-[47%] md:max-w-[47%];
      .item {
        @apply min-w-[46%] max-w-[46%] border-[1px] flex items-center justify-center rounded-lg px-3 py-2 relative;
        .title {
          @apply px-1 absolute start-1 top-[-30%] z-10 whitespace-nowrap font-semibold capitalize text-[.9rem];
        }
        .data {
          @apply min-w-full text-start whitespace-nowrap text-[.8rem];
        }
      }
    }
  }
}
