@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap");
@import "./newBlog.scss";
@import "./blog-list.scss";
@import "./modal.scss";
@import "./HomePage.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./sideBar.scss";
@import "./nftPost.scss";
@import "./loader.scss";
@import "./news-section.scss";
@import "./newsPost.scss";
@import "./aboutUs.scss";
@import "./contact-us.scss";
@import "./comment-section.scss";
@import "./form_inputs.scss";
@import "./buttons.scss";
@import "./viewBlog.scss";
@import "./loadingAnimation.scss";
@import "./edit-blog.scss";
@import "./crypto_page.scss";
@import "./viewCrypto.scss";
@import "./selected-post.scss";
@import "./nfts-page.scss";
@import "./view-nft.scss";
@import "./trendCoins.scss";
@import "./news-page.scss";
@import "./layout.scss";
@import "./dashboard.scss";
@import "./dividers.scss";
@import "./crypto-stack-table.scss";
@import "./drop-down.scss";
@import "./crypto-dashboard.scss";
@import "./select-component.scss";
* {
  box-sizing: border-box;
  @apply p-0 m-0 transition-all;
}
#root {
  max-width: 100% !important;
  max-width: 100% !important;
  @apply p-0 m-0 min-w-[100%] max-w-[100%] overflow-visible;
}
